HELP.md

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

## server ##
/tastypoisonfly.pem

## Testing Data ##
/data/avatar/*
/data/org_album/*
/data/org_avatar/*
/data/venue_album/*
/data/performance_post/*
/data/staff_photo/*
/data/temp/performance_post/*
/data/temp/staff_photo/*
/data/ticket_photo/*

## document ##
/document/UML/
/document/README/Private/*

## Server Testing files ##
/API Test/Server Test/*

## Environment variables ##
/.env
